@import "./smart-grid";
@import "./colors";
@import "./fonts";
@import "./header/header";

@include reset;

body {
  font: 100% 'Ubuntu Condensed', Arial, Verdana, Tahoma, sans-serif;
  background-color: $main-gray;
}

.v-icon {
  width: 10px;
  height: auto;
}