<template>
  <main class="app">
    <header>Vue App</header>
    <section>
      <svg class="v-icon">
        <use xlink:href="svg/sprites.svg#cac-logo" />
      </svg>
    </section>
    <section>
      <img src="img/sample.jpg" alt="Sample" />
    </section>
  </main>
</template>

<script>
export default {
  data: function() {
    return {};
  },
  methods: {
    //Methods here
  }
};
</script>
