doctype html
html(lang="ru_RU")

head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Webpack Vue HTML
  meta(name="title", content="Webpack Vue HTML")
  meta(name="description", content="Webpack Vue HTML")
  meta(name="author", content="Webpack Vue HTML")
  meta(name="robots", content="index,follow")
  meta(name="locale", content="ru_RU")

body
  div(class="container", id="app")

